* {
  font-family:"Arial";
  box-sizing: border-box;
}

span {
  font-size:14px;
  color:#606876;
}

.z2{
  z-index:2;
}

.bold{
  font-weight:900;
}

.cursor_pointer{
  cursor:pointer;
}

.btn {
  height: 48px; 
  font-size:12px;
  display:inline-block;
  line-height:48px;
  border-radius:4px;
  cursor:pointer;
  padding-left:8px;
  padding-right:8px;
  text-align: center;
}

.btn-fit{
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

.btn-success {
  background-color:#7a5de8;
  color:white;
}

.btn-default {
  background-color:white;
  border:1px solid #7a5de8;
  color:#7a5de8;
}

.btn-danger {
  background-color:red;
}

.btn-green{
  background-color:#28b496;
}

.h1 {
  font-size:36px;
}

.h2 {
  font-size:24px;
}

.h3 {
  font-size:16px;
}

.fm {
  font-size:14px;
}

.fs{
  font-size:12px;
}

.default_textarea{
  resize:none;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  font-family: "Arial";
}

.default_input {
  height:40px;
  border-radius:4px;
  border:1px solid #d8dde6;
  padding-left:8px;
  font-size:14px;
  transition: 0.2s all linear;
  outline:none;
}

.default_input:focus{
  border:1px solid #7a5de8 !important;  
}
.default_input:active{
  border:1px solid #7a5de8 !important;  
}
.default_input:hover{
  border:1px solid #7a5de8 !important;  
}

a {
  text-decoration:none;
}

.fdr {
  display:flex;
  flex-direction:row;
}

.aic {
  align-items:center;
}

.jcc {
  justify-content:center;
}

.jce{
  justify-content:flex-end;
}

.w30{
  width:30px !important;
}

.w40{
  width:40px !important;
}

.w100{
  width:100px;
}

.w200{
  width:200px;
}

.w400{
  width:400px;
}

.h40{
  height:40px !important;
}

.ml16{
  margin-left:16px;
}

.p8{
  padding:8px;
}

.p16{
  padding:16px;
}

.pt8{
  padding-top:8px;
}

.pt16{
  padding-top:16px;
}

.pb16{
  padding-bottom:16px;
}

.pl8{
  padding-left:8px;
}

.pl16{
  padding-left:16px;
}

.pr16{
  padding-right:16px;
}

.bg_red{
  background-color:red;
}

.bg_white{
  background-color:white;
}

.bg_black{
  background-color:#151151;
}

.flex{
  display:flex;
}

.dNone{
  display:none;
}

.f1{
  flex:1;
}

.vw100{
  width:100vw;
}

.vh100{
  height:100vh;
}

.posFx {
  position:fixed;
}

.posAb{
  position:absolute;
}

.top0{
  top:0px;
}

.left0{
  left:0px;
}

.right0{
  right:0px;
}

.color_white {
  color:white;
}

.pr{
  position:relative;
}



.chat_card {
  
}

.chat_card:hover {
  background-color:rgba(0,0,0,0.05);
}

.emojiRec{
  height:23px;
  padding-left:4px;
  padding-right:4px;
  margin-right:4px;
  border-radius:1px solid #dcdcdc;
  border:1px solid #dcdcdc;
  border-radius:8px;
  cursor:pointer;
}

.emojiRec:hover{
  background-color:#dcdcdc;
}

.emojiRec.active{
  border:2px solid #28b496;
  background-color:rgba(0,0,0,0.1);
}


.loader,
.loader:before,
.loader:after {
  background: #7a5de8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #7a5de8;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


